body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: sans-serif;
	color: black;
}

#aside {
	position: fixed;
	margin: 0;
	top: 2ex;
	padding: 0.9ex;
	list-style: none;
	color: #111;
	background: #DDD;
}

hr {
	border: solid 0.1ex darkgrey;
	width: 100%;
}

/* Coord */

.coord {
	text-align: right;
}

.coordValue {
	display: inline-block;
	min-width: 12ex;
	text-align: left;
}

/* TILE TYPE */

.tileType {
	display: inline-block;
	margin: 0 1ex;
	width: 6ex;
}

#tileTypeBloc {
	margin-left: 0;
}

.tileTypeImg {
	width: 100%;
	box-sizing: border-box;
	border: transparent 0.5ex solid;
	border-radius: 0.5ex;
}

.tileTypeImg:hover {
	border-color: dodgerblue;
}